# phoenix stuff
*/*_build
_build
smache_build
smache_rel
*/*deps
deps
*/*test
test

# dev files
scripts
.git
.gitignore
*Dockerfile*
*docker-compose*
*.yml
*.dump
*.log
*.zip
*.tar.gz
*.tar
*.cookie
*.log
*.md
