version: "3.1"

services:
  lb:
    image: dockercloud/haproxy
    ports:
      - 8080:80
    links:
      - uplink
      - downlink
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  uplink:
    build:
      context: .
      dockerfile: Dockerfile

  downlink:
    depends_on:
      - uplink
    links:
      - uplink
    build:
      context: .
      dockerfile: Dockerfile
