version: '3.1'

services:
  smache_one:
    build:
      context: .
      dockerfile: Dock.smache.Dockerfile
    command: ["./rel/boot.sh"]
    ports:
      - "1234:4000"
    volumes:
    - /tmp:/tmp

  smache_two:
    build:
      context: .
      dockerfile: Dock.smache.Dockerfile
    command: ["./rel/boot.sh"]
    ports:
      - "1235:4000"
    volumes:
    - /tmp:/tmp

  smache_three:
    build:
      context: .
      dockerfile: Dock.smache.Dockerfile
    command: ["./rel/boot.sh"]
    ports:
      - "1236:4000"
    volumes:
    - /tmp:/tmp

  smache_four:
    build:
      context: .
      dockerfile: Dock.smache.Dockerfile
    command: ["./rel/boot.sh"]
    ports:
      - "1237:4000"
    volumes:
    - /tmp:/tmp

  