apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: downlink
  name: downlink
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: downlink
    spec:
      containers:
      - args:
        - ./rel/boot.sh
        env:
        - name: UPLINK_NODE
          value: uplink
        image: registry.gitlab.com/selfup/smache:latest
        name: downlink
        resources: {}
      restartPolicy: Always
status: {}
